*{
  box-sizing: border-box;
}
body{
  font-family:sans-serif;
  margin:20px;
  padding:0;
}
h1{
  margin-top:0;
  font-size:20px;
}
h2{
  margin-top:0;
  font-size:20px;
}
code{
  font-size:1.2em;
}
.switch{
  display:inline-block;
  position:relative;
  height: 26px;
  width:60px;
  background-color:rgb(241, 241, 14);
  border-radius:34px;

}
.switch__input{
  height:0;
  width:0;
  opacity:0
}
.swith__slider{
  position: absolute;
  cursor:pointer;
  top:0;
  left:0;
  bottom:0;
  right:0;
  border-radius:34px;
  transition:0.4s;
  
}
.swith__slider::before{
  content:'';
  position:absolute;
  cursor:pointer;
  left:4px;
  bottom:4px;
  height:18px;
  width:26px;
 background-color:white;
 border-radius:34px;
 transition:0.4s;
}

.switch__input:checked +.swith__slider{
  background-color: #2196F3;
}
.switch__input:checked +.swith__slider::before{
 transform:translateX(26px);
 -webkit-transform: translateX(26px);
 -ms-transform:translateX(26px);
}
.panel-light,
.panel-dark{
  border:1px solid #222;
  border-radius:4px;
  padding:20px;
  margin-bottom: 10px;

}
.panel-light{
  color: #222;
  background: #fff;
}
.panel-dark{
  color: #fff;
  background: #222;
}

.button-light,
.button-dark {
  border: 1px solid #777;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.button-dark {
  background: #222;
  color: #fff;
}

.button-light {
  background: #fff;
  color: #222;
}